.filters {
    display: flex;
    justify-content: space-between;
    width: 49%;
    padding: 0.5rem;
    margin: 4.5rem auto;
}

.filters__btn {
    font-size: 1rem;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

.filters__item:hover {
    text-decoration: underline;
    transition: 0.2s;
    transform: translateY(2px);
}
